signs/genout.vec

signs/info.lst

signs/bg.txt

signs/bg\.txt

signs/genout\.vec

signs/out/

signs/resized/

Ford Aviyonik*

signs/outlbp

signs/outlbp.vec

create_custom_sample/data/*

create_custom_sample/Play.mp4

signs/gecici

signs/gray

sign/train/

signs/train/

sign/rawdatas/*

sign/negative/*

signs/negative/

gonder

arduino

gonder*

signs/rawdatas/

signs/circle

signs/negatives
signs/rawdata
create_custom_sample/circle.mp4
create_custom_sample/*.mp4
**/*.mp4
**/*.jpg
**/*.png
